@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: white;
}
html, body {
  min-height: 100%;
}
body {
  background: radial-gradient(at top left, rgb(232, 40, 40) 0%, rgb(44, 4, 3) 100%);
  background-repeat: no-repeat;
  text-align: center;
}
p {
  margin: 16px auto;
  line-height: 1.5em;
}

/* layout & nav */

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px auto;
}
nav .links {
  display: inline-block;
  text-align: right;
}
nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
}
nav a:hover {
  border-color: white;
}

ul {
  list-style-type: none;
}

.que{
  height: 250px;
  width: 200px;
  border-radius: 50%;
}

.thumb {
  height: 250px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.thumbText {
  text-align: center;
}

.aboutMe {
  text-align: justify;
  margin-left: 200px;
  margin-right: 200px;
}

/* Footer at the Bottom Page */

footer p{
  text-align: center;
  color: #bbb;
  margin: 40px auto;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;   
}

.content {
  flex: 1 0 auto;
}

/* language Icons */



.html{
  list-style-image: url(/HTML.png);
  list-style-position: inside;
  margin-left: 15px;
  padding-bottom: 3px;
}

.css{
  list-style-image: url(/CSS.png);
  list-style-position: inside;
  padding-bottom: 3px;
}

.java{
  list-style-image: url(/JS.png);
  list-style-position: inside;
  margin-left: 47px;
  padding-bottom: 3px;
}

.react{
  list-style-image: url(/REACT.png);
  list-style-position: inside;
  margin-left: 7px;
  padding-bottom: 3px;
}

.git{
  list-style-image: url(/GIT.png);
  list-style-position: inside;
  margin-left: 20px;
  padding-bottom: 3px;
}

.boot{
  list-style-image: url(/BOOT.png);
  list-style-position: inside;
  margin-left: 45px;
  padding-bottom: 3px;
}

.bash{
  list-style-image: url(/BASH.png);
  list-style-position: inside;
  margin-left: 5px;
  padding-bottom: 3px;
}

.post{
  list-style-image: url(/POST.png);
  list-style-position: inside;
  margin-left: 40px;
  padding-bottom: 3px;
}

.hero{
  list-style-image: url(/HERO.png);
  list-style-position: inside;
  margin-left: 25px;
  padding-bottom: 3px;
}

.gats{
  list-style-image: url(/GATS.png);
  list-style-position: inside;
  margin-left: 20px;
  padding-bottom: 3px;
}